@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html,body { 
  height:100%; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}
.sidebarActive{
  color: #1d5893;
  font-weight: bold;
}
*{
  font-family: 'Roboto', sans-serif;
}
a{
  color: #1d5893 !important;
}
p{
  font-weight: 300;
  line-height: 1.7;
}